<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<style>
    #container {
        width: 60%;
    }
</style>
</head>
<body>
<div id="container">
<div>
<canvas id="passingReports" width="500" height="300"></canvas>
</div>
<div>
<canvas id="review_status" width="500" height="300"></canvas>
</div>
</div>
</body>
<script>
    function makeChart(type, canvasID, labels, datas, labelTexts, title, barCols) {
    let ctx = document.getElementById(canvasID).getContext("2d");

    let theDatasets = [];
    for(let i = 0; i < datas.length; ++i)
    {
        theDatasets.push({
            label: labelTexts[i],
            backgroundColor: barCols[i],
            borderColor: "#417690",
            data: datas[i]});
    }

    let chart = new Chart(ctx,
    {
    type: type,
    data: {
        labels: labels,
        datasets: theDatasets
    },
    options : {
        title: {
            text: title,
            display: true,
        }
    }
    });
    return chart;
}

    let names = [];
    let passes = [];
    let fails = [];
    let unviewed = [];
    let reviewed = [];
    let confirmed = [];
    let false_pos = [];
    let justified = [];
    {% for rep_name, report_amounts in reports.items %}
    names.push("{{ rep_name }}");
    passes.push({{ report_amounts.0 }});
    fails.push({{ report_amounts.1 }});
    unviewed.push({{ report_amounts.2 }});
    reviewed.push({{ report_amounts.3 }});
    confirmed.push({{ report_amounts.4 }});
    false_pos.push({{ report_amounts.5 }});
    justified.push({{ report_amounts.6 }});
    {% endfor %}

    let blueish = "#79AEC8"
    let blueish2 = "#79DEC8"
    let redish = "#CE2020"
    let orangeish = "#FFAE42"
    let purplish = "#BA55FF"
    makeChart(
        "bar",
        "review_status",
        names,
        [unviewed, reviewed, confirmed, false_pos, justified],
        ["Report Unreviewed", "Report Reviewed", "Issue Confirmed", "False Positive", "Justified"],
        "Number of reports per status",
        [blueish, blueish2, redish, orangeish, purplish]);
    makeChart(
        "bar",
        "passingReports",
        names,
        [passes, fails],
        ["Passing the check", "Failing the check"],
        "Number of models passing/failing checks",
        [blueish,redish] );
</script>

</html>