<html>
<head>
    <title>DRACONIS Upload</title>

    {% load static %}
    {% if darkMode %}
    <link rel="stylesheet" href="{% static 'styles/report_dark.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'styles/report.css' %}">
    {% endif %}
</head>
<body>
<h1>DRACONIS POU File Upload</h1>
<p>Select file to analyse:</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{modelForm.as_p}}
    {{metricsForm.as_p}}
    <br/>
    <input type="submit" value="Analyse!">
</form>
</body>
</html>