<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DRACONIS Entrypoint</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/classless.css' %}">
</head>
<body>
<h1>DRACONIS Front Page</h1>
<div class="row">
    <div class="col-3"><button class="bg-primary text-white" onclick="window.location='{% url 'Model-Upload' %}';">Analyse New Model</button></div>
    <div class="col-3"><button class="bg-primary text-white" onclick="window.location='{% url 'Models' %}';">View all Models</button></div>
    <div class="col-3"><button class="bg-primary text-white" onclick="window.location='{% url 'Projects' %}';">View all Projects</button></div>
</div>
<div class="row">
    <div class="col-3"><button class="bg-primary text-white" onclick="window.location='{% url 'Metrics' %}'">View Metrics</button></div>
    <div class="col-3"><button class="bg-primary text-white" onclick="window.location='{% url 'False-Positive-Reports' %}'">View False Positives Page</button></div>
    <div class="col-3"><button class="bg-primary text-white" onclick="window.location='{% url 'Dashboard' %}'">Dashboard</button></div>

</div>
</body>
</html>