<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Models Analysed</title>
</head>
<body>
    {% if project %}
    <h1>Models Analysed in Project {{ project }}</h1>
    {% else %}
    <h1>Models Analysed</h1>
    {% endif %}
    <form method="POST" action="{% url 'diff' %}">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Model Name</th>
                    <th>Uploaded At</th>
                    <th>Diff</th>
                </tr>
            </thead>
            <tbody>
            {% for model in models %}
                <tr>
                    <td><a href="{% url 'report' model.id %}">
                        {{ model.program_name }}
                    </a></td>
                    <td>{{ model.uploaded_at }}</td>
                    <td><div><input type="checkbox" name="diff_selections[]" value="{{ model.id }}"></div></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button type="submit">Run Diff</button>
    </form>
</body>
</html>