<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Report Information for {{model.program_name}}</title>
    <style>
{
    box-sizing: border-box;
}


.styled-table {
    border-collapse: collapse;
    width: 100%;
}

.styled-table th, .styled-table td {
    border: 1px solid black;
    padding: 8px;
}

.styled-table th {
    background-color: #f2f2f2;
}

.report-entry {
    border: 1px solid black;
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
    </style>
</head>
<body>
    <h1>{{model.program_name}}</h1>
    <p>Uploaded: {{model.uploaded_at}}</p>
    <h2>Checks Failed</h2>
    <table class="styled-table">
    <tr>
        <th>Check Name</th>
        <th>Message</th>
        <th>Review Status</th>
        <th>Justification</th>
        <th>Actions</th>
    </tr>
    {% for report in reports %}
    <tr class="report-entry">
        {% if report.report_check_status == 0 %}
        <td class="report-entry">{{ report.check_name }}</td>
        <td class="report-entry">{{ report |safe }}</td>
        <td class="report-entry">{{report.report_review_status}}</td>
        <td>{{ report.report_justification_notes }}</td>
        <td><button class="open-justification" onclick="openForm('JustificationForm_{{ report.id }}')">Justify Failure</button></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
    <h2>Checks Passed</h2>
    <table class="styled-table">
    <tr>
        <th>Check Name</th>
        <th>Message</th>
        <th>Review Status</th>
        <th>Notes</th>
        <th>Actions</th>
    </tr>
    {% for report in reports %}
    <tr class="report-entry">
        {% if report.report_check_status == 1 %}
        <td class="report-entry">{{ report.check_name }}</td>
        <td class="report-entry">{{ report |safe }}</td>
        <td class="report-entry">{{report.report_review_status}}</td>
        <td>{{ report.report_review_notes }}</td>
        <td><button class="open-note" onclick="openForm('NoteForm_{{ report.id }}')">Add Note</button></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
        {% for report in reports %}
            {%if report.report_check_status == 0 %}
            <div class="form-popup" id="JustificationForm_{{report.id}}">
              <form action="./report" class="form-container" method="post">
                {% csrf_token %}
                <p>Justify Failure: {{report}}</p>

                <label for="justification"><b>Justification</b></label>
                <input type="text" placeholder="" name="{{JUSTIFICATION_NAME}}" required>
                  <input type="hidden" value="{{report.id}}" name="{{REPORT_ID_NAME}}" required>

                <button type="submit" class="btn">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm('JustificationForm_{{report.id}}')">Close</button>
              </form>
            </div>
        {% else %}
            <div class="form-popup" id="NoteForm_{{report.id}}">
              <form action="./report" class="form-container" method="post">
                {% csrf_token %}
                <p>Add Note for: {{report}}</p>

                <label for="note"><b>Note</b></label>
                <input type="text" placeholder="" name="{{NOTE_NAME}}" required>
                  <input type="hidden" value="{{report.id}}" name="{{REPORT_ID_NAME}}" required>

                <button type="submit" class="btn">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm('NoteForm_{{report.id}}')">Close</button>
              </form>
            </div>

        {% endif %}

        {% endfor %}
    <p><a href="../models">Go back to the models list view</a></p>

</body>
<script>
    function hideElementsBy_Selector_Id(aType, substr) {
    // Select all forms on the page
    const selected = document.querySelectorAll(aType);

    // Iterate through each form
    selected.forEach(potentialForm => {
        if (String(potentialForm.id).includes(substr)) {
            // Hide the form if it matches
            potentialForm.style.display = 'none';
        }
    });
}
function openForm(form_id) {
  // Hide all forms so they don't overlap each other
  hideElementsBy_Selector_Id("div", "JustificationForm_");
  hideElementsBy_Selector_Id("div", "NoteForm_");
  // Then show the new one
  document.getElementById(form_id).style.display = "block";
}
function closeForm(form_id) {document.getElementById(form_id).style.display = "none";}

function validateForm(form_name, form_input) {
  var x = document.forms[form_name][form_input].value;
  if (x == "") {
    alert(form_input + " must be filled in");
    return false;
  }
}
</script>
</html>