<!DOCTYPE html>
<html>
<head>
    <title>POU Analysis Report</title>
    {% load static %}
    {% if darkMode %}
    <link rel="stylesheet" href="{% static 'styles/report_dark.css' %}">
    {% else %}
    <link rel="stylesheet" href="{% static 'styles/report.css' %}">
    {% endif %}
</head>
<body>
{{form}}
<h1>Analysed Program: {{pou_progName}}</h1>
<h2>Analysis Check Results</h2>
<table id="id_reports_table">
    <thead>
    <tr>
        <th>Check</th>
        <th>Pass/Fail</th>
        <th>Explanation</th>
        <!--<th>Review Comment</th>-->
    </tr>
    </thead>
    <tbody>
    {% for rep in rule_reports %}
    <tr>
        <td>{{rep.0}}</td>
        <td>{{rep.1}}</td>
        <td>{{rep.2 | safe}}</td>
        <!--<td id="comment{{forloop.counter}}">[No Comment Provided]</td>-->
    </tr>
    {% endfor %}
    </tbody>
</table>
<h2>Additional Data</h2>
<div style="display: inline-block; vertical-align: top;">
    <h3>Variable Info</h3>
    <table id="id_var_table">
        <thead>
        <tr>
            <th>Variable name</th>
            <th>Variable Type</th>
            <th>Data Type</th>
            <th>Initialized Value</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for value in variable_info %}
        <tr>
            <td>{{value.0}}</td>
            <td>{{value.1}}</td>
            <td>{{value.2}}</td>
            <td>{{value.3}}</td>
            <td>{{value.4}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="display: inline-block; margin-left: 30px; vertical-align: top;">
    <h3>Core Metrics</h3>
    <table id="id_metrics_table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in metrics.items %}
        <tr>
            <td>
                <div class="tooltip">{{key}}
                    <span class="tooltiptext">{{ value.1 |safe }}</span>
                </div>
            </td>
            <td>{{value.0}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="display: inline-block; margin-left: 30px; vertical-align: top;">
    <h3>Additional Metrics</h3>
    <table id="id_add_metrics_table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in additional_metrics.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div style="display: inline-block; margin-left: 30px; vertical-align: top;">
    <h3>Dependency Analysis</h3>
    <table id="id_dependency_table">
        <thead>
        <tr>
            <th>Output</th>
            <th>Dependent Input(s)</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in backward_trace.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% if ImageSVG %}
<h2>Rendering of Model</h2>
<svg width="{{ImageSVG_Size.0}}" height="{{ImageSVG_Size.1}}">
    {{ ImageSVG|safe }}
    Sorry, your browser does not support inline SVG.
</svg>
{% endif %}
</body>

</html>