<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project List</title>
</head>
<body>
    <h1>Projects</h1>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'Single-Project' project.id %}">
                    {{ project.project_name }}
                </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>