.inport {
    fill:red;
}
.outport {
    fill:green;
}

.block {
    stroke:black;
    stroke-width:2;
    fill:none;
}

.signal_line {
    stroke:black;
    stroke-width:2;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  white-space: pre-wrap;
}